* {
  margin: 0;
  padding: 0;
}

#foto {
  height: 35px;
  width: 35px;
  display: block;
  border-radius: 50%;
  background-size: contain;
  margin-top: -4px;
  float: right;
}

body {
  background-color: #242423;
}

#navBar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar {
  background-image: linear-gradient(to right, #f7d781, #f5cb5c);
  padding: 0 !important;
}

.navbar-brand img {
  height: 70px;
  width: 70px;
  margin-left: 25px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #333533 !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #333533;
}

.navbar-toggler {
  outline: none !important;
}

#navbarTitle {
  margin-top: 1%;
  font-family: "Bebas Neue", cursive;
  color: #242423;
}

/**/

.jumbotron {
  background-color: #fff;
  border: 2px solid #f5cb5c;
  border-radius: 8px;
}

.process-row {
  display: table-row;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.card-footer {
  background-color: #fff;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  background-color: #febeb0;
}

.process-row:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
}

.process img {
  height: 100px;
  width: 100px;
}

.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.process-step p {
  margin-top: 10px;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
}

#filter {
  display: inline;
}

/*footer*/
#footer {
  margin-top: -2%;
  background-color: #f5cb5c;
}
